@font-face {
  font-family: "iconfont"; /* Project id 3326374 */
  src: url('iconfont.woff2?t=1708476109765') format('woff2'),
       url('iconfont.woff?t=1708476109765') format('woff'),
       url('iconfont.ttf?t=1708476109765') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-xihuan1:before {
  content: "\e870";
}

